{% extends 'shop/base.html' %}

{% block title %} Cart | {% endblock %}

{% block content %}

{% if cart %}
<div class="card-cart">

        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    </div>
                </div>
                {% for item in cart %}
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-cart" src="{{ item.product.image.url }}"></div>
                        <div class="col">
                            <div class="row"><a href="{% url 'product' item.product.category.slug item.product.slug %}">{{ item.product.name }}</a></div>
                        </div>
                        <div class="col">
                            <a href="?change_quantity={{ item.id }}&quantity=-1">-</a><a href="#" class="border">{{ item.quantity }}</a><a href="?change_quantity={{ item.id }}&quantity=1">+</a>
                        </div>
                        <div class="col">NGN{{ item.total_price }}
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash end" viewBox="0 0 16 16"><a href="?remove_from_cart={{ item.id }}">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>

                            </a>
                            </svg></div>
<!--                            -->
<!--                            <i class="bi bi-trash"><a href="?remove_from_cart={{ item.id }}"></a></i></div>-->
<!--                            <span class="close"><a href="?remove_from_cart={{ item.id }}" class="delete">&#10005;</a></span>-->
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:3;">ITEM(S)</div>
                    <div class="col text-right">{{ cart|length }}</div>
                </div>

                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right">NGN{{cart.get_total_cost}}</div>
                </div>
                <button class="btn btn-success"><a href="{% url 'initiate-payment' %}">CHECKOUT</a></button>
            </div>
            </div>
        </div>
</div>
{% else %}
    <p>You don't have any products in your cart!</p>
{% endif %}

{% endblock %}
